{% extends "base/base.html" %}
{% block content %}
    <div class="container">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#home">Conditions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#menu1">Examples</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div id="home" class="tab-pane active">
                <div class="table-responsive">
                    <table id="myTable" class="table">
                        <tr class="header">
                            <th>Type</th>
                            <th>Use</th>
                            <th>IF (condition)</th>
                            <th>Result</th>
                            <th>Example</th>
                        </tr>
                        <tr>
                            <td>0</td>
                            <td>to talk about things that are <strong>always true</strong> or that normally happen</td>
                            <td>present simple</td>
                            <td>present simple</td>
                            <td>If you heat ice, it melt</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>to talk about probable event <strong>happening in the future</strong></td>
                            <td>present simple</td>
                            <td>WILL / WON'T + VERB</td>
                            <td>If you study, you will pass the exam</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>to talk about <strong>present</strong> of future <strong>hypothetical or unreal situation</strong></td>
                            <td>past simple</td>
                            <td>WOULD VERB</td>
                            <td>If I won the lottery, I would travel a lot</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>to talk about <strong>past</strong> hypothetical or <strong>unreal situation</strong></td>
                            <td>past perfect</td>
                            <td>WOULD Have + past participle</td>
                            <td>If you had studied, you would have passed the exam</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="menu1" class="tab-pane fade"><br>
            </div>

        </div>
    </div>
{% endblock %}
