{% extends "base/base.html" %}
{% block content %}
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Tense</th>
                <th scope="col">Active</th>
                <th scope="col">Passive</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Present Simple</th>
                <td>The teachers punishes me.</td>
                <td>I am punished by my teacher.</td>
            </tr>
            <tr>
                <th scope="row">Present continuous</th>
                <td>The teacher is punishing me.</td>
                <td>I am being punished by the teacher.</td>
            </tr>
            <tr>
                <!-- https://en.islcollective.com/preview/201110/f/passive-voice-chart-grammar-guides_11318_1.jpg -->
                <th scope="row">Past simple</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Past continuous</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Present perfect</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Past perfect</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Future simple</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Going to future</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Conditional</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Modals</th>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
